
*.zip
dist/
.aedifex/
tools/vscode-extension/*.vsix
tools/vscode-extension/icon.png
examples/hello-world/.vscode/
bin/include/
bin/obj/
bin/src/
bin/*.hash
bin/*.exp
bin/*.lib
bin/Build.xml
bin/HxcppConfig-*.h
bin/Options.txt
